body
{
  padding: 3% 25% 0cm 25%;
  background-color: #666666;
  font-family: "Sans";
  color: #FFFFFF;

}
a:link 
{
  color: #EEEEEE;
  text-decoration: none;
}
a:visited 
{
  color: #EEEEEE;
  text-decoration: none;
} 
a:hover 
{
  color: #FFFFFF;
  text-decoration: underline;
} 
a:active 
{
  color: #FFFFFF;
  text-decoration: underline;
} 
h1
{
  text-align: center;
  /*font-size: 40px;*/
}
#navbar
{
  text-align: center;
  /*font-size: 24px;*/
}
li
{
  list-style-type: none;
}
p
{
  text-align: justify;
}

table, th, td
{
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
}